.container {
    border: 1px solid black;
    height: 17%;
    margin: 0 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container button {
    height: 80px;
    width: 80px;
}

